<ion-view title="Login" id="login">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="data.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="data.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button1" class="button button-positive  button-block icon ion-log-in" ng-click="login()">Iniciar sesión</button>
            <a href="" ng-click="registrarse()" id="login-button2" class="button button-positive  button-block button-clear">Registrarse</a>
        </form>
    </ion-content>
</ion-view>